.resumo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons button {
    background: #E9ECEF;
    border: 1.4px solid #E9ECEF;
    border-radius: 8px;
    padding: 10px 15px;
}

.buttons button + button {
    margin-left: 10px;
}

.buttons button:hover {
    color: #FFFFFF;
    background: #FD377E;
    border: 1.4px solid #FD377E;
    cursor: pointer;
}


@media screen and (max-width: 425px) {
    .resumo button {
        width: fit-content;
    }

    .resumo h3 {
        font-size: 10px;
    }
}